release/leadership-item.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"><link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
    <title>Совет депутатов Калининского района</title>
  </head>
  <body>
    <header class="header">
      <div class="header__top d-none d-lg-block">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-lg-6 d-flex align-items-center">
              <div class="d-flex align-items-center"><i class="icon-maps-and-flags mr-1 font-16"></i><span class="font-12 font-gilroy">г. Челябинск, ул. Кирова 10</span></div>
              <div class="d-flex align-items-center header-email"><span class="line"></span><a class="font-12 font-gilroy d-flex align-items-center hover-default color-000" href="mailto:mail@mail.ru"><i class="icon-email mr-1 font-16"></i>mail@mail.ru</a></div>
            </div>
            <div class="col-12 col-lg-6 d-flex align-items-center justify-content-end">
              <form class="search-block-header" action="">
                <input type="search" placeholder="Поиск по сайту">
                <button type="submit"><i class="icon-loupe"></i></button>
              </form><a class="d-flex align-items-center font-roboto-slab font-18 weight-500 hover-default color-000" href="tel:+73511234567"><i class="icon-phone-call-1 mr-3 font-24 color2"></i>+7 351 123-45-67</a>
            </div>
          </div>
        </div>
      </div>
      <div class="header__main">
        <div class="container-fluid">
          <div class="row align-items-center flex-no-wrap justify-content-lg-between">
            <div class="col-6 col-lg-auto"><a class="logo" href="#"><img class="lazyload img-fluid" data-src="images/logo.svg" alt="img logo"></a></div>
            <div class="d-none d-lg-block col-lg-auto"><ul class="mb-0 list-unstyled d-inline-flex nav-outer">
              <li class="nav-item"><a href="#">Главная</a></li>
              <li class="nav-item menu-item-has-children"><a href="#">Калининский район</a><i class="icon-arrow-down ml-2"></i>
                <ul class="mb-0 list-unstyled">
                  <li><a href="#">пункт 1.1</a></li>
                  <li><a href="#">пункт 1.1</a></li>
                  <li><a href="#">пункт 1.1</a></li>
                  <li><a href="#">пункт 1.1</a></li>
                </ul>
              </li>
              <li class="nav-item menu-item-has-children"><a href="#">Общественный совет</a><i class="icon-arrow-down ml-2"></i>
                <ul class="mb-0 list-unstyled">
                  <li><a href="#">пункт 1.1</a></li>
                  <li><a href="#">пункт 1.1</a></li>
                  <li><a href="#">пункт 1.1</a></li>
                  <li><a href="#">пункт 1.1</a></li>
                </ul>
              </li>
              <li class="nav-item"><a href="#">Председатель</a></li>
              <li class="nav-item menu-item-has-children"><a href="#">Совет депутатов</a><i class="icon-arrow-down ml-2"></i>
                <ul class="mb-0 list-unstyled">
                  <li><a href="#">пункт 1.1</a></li>
                  <li><a href="#">пункт 1.1</a></li>
                  <li><a href="#">пункт 1.1</a></li>
                  <li><a href="#">пункт 1.1</a></li>
                </ul>
              </li>
              <li class="nav-item"><a href="#">Документы</a></li>
              <li class="nav-item"><a href="#">Противодействие коррупции</a></li></ul>
            </div>
            <div class="col-2 col-md-1 offset-2 offset-md-4 d-lg-none"><a class="d-flex align-items-center font-roboto-slab font-18 weight-500" href="tel:+73511234567"><i class="icon-phone-call-1 mr-3 font-24 color2"></i></a></div>
            <div class="col-2 col-md-1 d-lg-none">
              <button class="btn__menu">
                <svg class="ham hamRotate ham8" id="burger" viewBox="0 0 100 100" onclick="this.classList.toggle('active')">
                  <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
                  <path class="line middle" d="m 30,50 h 40"></path>
                  <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
                </svg>
              </button>
            </div>
            <div class="col-12 col-lg-auto mt-2 mt-lg-0 btn-header-wrapper">
              <button class="btn btn_m_w-100 " type="button" data-toggle="modal" data-target="#modalRequest">Интернет-приёмная</button>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div id="modal-menu">
      <div class="modal-menu-content">
        <div class="container">
          <div class="row pt-2 pb-4 align-items-start">
            <div class="col-8"><a class="logo" href="#"><img class="lazyload img-fluid" data-src="images/logo.svg" alt="img logo"></a></div>
            <div class="col-4 d-flex justify-content-end">
              <button class="modal-menu__close" type="button"><i class="icon-close "></i></button>
            </div>
          </div>
          <div class="row pb-4">
            <div class="col-12 d-flex justify-content-center"><a class="d-flex align-items-center font-roboto-slab font-16 weight-500 color-000" href="tel:+73511234567">+7 351 123-45-67</a></div>
          </div>
          <div class="row pb-5">
            <div class="col-12 d-flex flex-column"><a class="modal-menu__link">Главная</a><a class="modal-menu__link d-flex justify-content-between pr-2">Совет депутатов<i class="icon-arrow-down collapsed" data-toggle="collapse" href="#menuCollapse1" role="button" aria-expanded="false" aria-controls="menuCollapse1"></i></a>
              <div class="collapse" id="menuCollapse1">
                <div class="card card-body"><a class="modal-menu__link">пункт 1</a><a class="modal-menu__link">пункт 1</a></div>
              </div><a class="modal-menu__link">Новости</a><a class="modal-menu__link">Документы</a><a class="modal-menu__link">Контакты</a>
            </div>
          </div>
          <div class="row">
            <div class="col-12 pb-5"><span class="d-block font-14 font-gilroy color-000 pb-3"><b>Часы приёма граждан</b></span><span class="d-block font-14 font-gilroy color-000">Пн.-Пт.: 8:00-18:00</span></div>
            <div class="col-12 pb-3 font-14 font-gilroy color-000">
              <p>Совет депутатов Клаининского района Не следует, однако забывать, что рамки и место обучения кадров требуют от нас анализа модели развития. Идейные соображения высшего порядка, а также постоянный количественный рост </p>
            </div>
            <div class="col-12 d-flex align-items-center"><a class="font-38 color-000 mr-3" href="#"><i class="icon-instagram"></i></a><a class="font-32 color-000" href="#"><i class="icon-vk"></i></a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <section class="container pb-5">
        <div class="row pb-lg-5 mb-lg-5">
          <div class="col-12">
            <div class="breadcrumb-block"><nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="#">Главная</a></li>
<li class="breadcrumb-item active" aria-current="page">Интернет-приёмная</li>
</ol>
</nav>
            </div>
          </div>
          <div class="col-12">
            <h1 class="title-1-page font-36-m-24 mb-lg-5 pb-3">Руководство</h1>
          </div>
          <div class="col-12 col-md-6 col-lg-4 pb-4 pb-lg-5"><img class="lazyload w-100" data-src="images/team-big.png" alt="img"></div>
          <div class="col-12 col-md-6 col-lg-8 pb-lg-5">
            <h2 class="font-24 color-000"><b>Иванов И.И.</b></h2>
            <p class="font-18 color-000 font-gilroy">Председатель Совета депутатов</p>
            <p class="font-18 color-000 font-gilroy">Не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.</p>
            <p class="font-18 color-000 font-gilroy">Не следует, однако забывать, что рамки и место обучения кадров требуют от нас анализа модели развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Задача организации, в особенности же новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Товарищи! начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации дальнейших направлений развития.</p>
          </div>
          <div class="col-12">
            <h1 class="title-2-page title-2-page_no-border  mb-lg-4">Депутаты</h1>
          </div>
          <div class="col-12 col-lg-6 pb-4">
            <div class="team-item-big">
              <div class="row">
                <div class="col-12 col-md-4 pb-4 pb-lg-0"><img class="lazyload w-100" data-src="images/team1.png" alt="img team"></div>
                <div class="col-12 col-md-8"><span class="title">Петров П.П.</span>
                  <p class="description">Не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 pb-4">
            <div class="team-item-big">
              <div class="row">
                <div class="col-12 col-md-4 pb-4 pb-lg-0"><img class="lazyload w-100" data-src="images/team1.png" alt="img team"></div>
                <div class="col-12 col-md-8"><span class="title">Петров П.П.</span>
                  <p class="description">Не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 pb-4">
            <div class="team-item-big">
              <div class="row">
                <div class="col-12 col-md-4 pb-4 pb-lg-0"><img class="lazyload w-100" data-src="images/team1.png" alt="img team"></div>
                <div class="col-12 col-md-8"><span class="title">Петров П.П.</span>
                  <p class="description">Не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 pb-4">
            <div class="team-item-big">
              <div class="row">
                <div class="col-12 col-md-4 pb-4 pb-lg-0"><img class="lazyload w-100" data-src="images/team1.png" alt="img team"></div>
                <div class="col-12 col-md-8"><span class="title">Петров П.П.</span>
                  <p class="description">Не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 pb-4">
            <div class="team-item-big">
              <div class="row">
                <div class="col-12 col-md-4 pb-4 pb-lg-0"><img class="lazyload w-100" data-src="images/team1.png" alt="img team"></div>
                <div class="col-12 col-md-8"><span class="title">Петров П.П.</span>
                  <p class="description">Не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 pb-4">
            <div class="team-item-big">
              <div class="row">
                <div class="col-12 col-md-4 pb-4 pb-lg-0"><img class="lazyload w-100" data-src="images/team1.png" alt="img team"></div>
                <div class="col-12 col-md-8"><span class="title">Петров П.П.</span>
                  <p class="description">Не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div><!-- Modal -->
<div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="modalRequestTitle">Обращение</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<div class="modal-body">
    <form action="" method="">
      <div class="form-group mb-4">
        <label class="mb-3" for="name">1. Укажите Ваши фамилию, имя, отчество (при наличии)<span class="color-red">*</span></label>
        <input class="form-control" type="text" id="name">
      </div>
      <div class="form-group mb-4">
        <label class="mb-3" for="email">2. Адрес электронной почты (Email)<span class="color-red">*</span></label>
        <input class="form-control" type="email" id="email">
      </div>
      <div class="form-group mb-4">
        <label class="mb-3" for="phone">3. Контактный телефон<span class="color-red">*</span></label>
        <input class="form-control" type="phone" id="phone">
      </div>
      <div class="form-group mb-4">
        <label class="mb-3" for="message">4. Текст обращения<span class="color-red">*</span></label>
        <textarea class="form-control" id="message" rows="1"></textarea>
      </div>
      <div class="custom-file mb-5">
        <input class="custom-file-input" type="file" id="customFile">
        <label class="custom-file-label" for="customFile"><i class="icon-paper-clip font-16 mr-2"></i>Прикрепить файл (до 10 мб)</label>
      </div><div class="form-check mb-3">
<input class="form-check-input" type="checkbox" value="" id="checkbox1" >
<label class="form-check-label" for="checkbox1">Я согласен с <a href="#">условиями обработки персональных данных</a> <span class="color-red">*</span></label>
</div>
      <div class="d-flex justify-content-center justify-content-lg-end">
        <button class="btn btn_empty btn_min-width-270" type="submit">Отправить</button>
      </div>
    </form></div>
</div>
</div>
</div>
    <div class="btn-to-top">
      <div class="btn-to-top__content d-flex justify-content-center align-items-center">
        <svg class="card_item_arrow" xmlns="http://www.w3.org/2000/svg" width="18.098" height="10.316" viewBox="0 0 18.098 10.316">
          <g id="arrow-up" transform="translate(-1035.793 -4349.188)">
            <g id="arrow-point-to-right" transform="translate(1053.891 4252.049) rotate(90)">
              <path id="Path_6" data-name="Path 6" d="M107.084,9.945,99.3,17.726a1.267,1.267,0,0,1-1.792-1.792L104.4,9.049,97.51,2.163A1.267,1.267,0,0,1,99.3.371l7.782,7.782a1.267,1.267,0,0,1,0,1.792Z" transform="translate(0 0)"></path>
            </g>
          </g>
        </svg>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="footer__top">
          <div class="row">
            <div class="col-12 col-lg-3 pb-5 pb-lg-0"><span class="footer__title">Совет депутатов</span>
              <ul class="mb-0 list-unstyled">
                <li><a href="#">Руководство</a></li>
                <li><a href="#">Депутаты</a></li>
                <li><a href="#">Постоянные комиссии</a></li>
                <li><a href="#">Полномочия</a></li>
                <li><a href="#">Деятельность</a></li>
              </ul>
            </div>
            <div class="col-12 col-lg-3 pb-5 pb-lg-0"><span class="footer__title">Информация</span>
              <ul class="mb-0 list-unstyled">
                <li><a href="#">Муниципальный заказ</a></li>
                <li><a href="#">График приёма населения</a></li>
                <li><a href="#">Кадровое обеспечение</a></li>
                <li><a href="#">План работы совета</a></li>
                <li><a href="#">Контакты</a></li>
              </ul>
            </div>
            <div class="col-12 col-lg-3 pb-5 pb-lg-0"><span class="footer__title">Документы</span>
              <ul class="mb-0 list-unstyled">
                <li><a href="#">Устав муниципального образования</a></li>
                <li><a href="#">Повестки заседаний Совета</a></li>
                <li><a href="#">Проекты решений</a></li>
                <li><a href="#">Решения Совета депутатов</a></li>
                <li><a href="#">Публичные слушания</a></li>
              </ul>
            </div>
            <div class="col-12 col-lg-3"><span class="footer__title">Контакты</span>
              <ul class="mb-0 list-unstyled">
                <li>Челябинск, ул. Кирова 10</li>
                <li><a href="tel:+73511234567">Телефон: +73511234567</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <div class="row align-items-center">
            <div class="col-12 col-lg-3 d-flex d-lg-block justify-content-center pb-4 pb-lg-0"><a class="logo" href="#"><img class="lazyload img-fluid" data-src="images/logo.svg" alt="img logo"></a></div>
            <div class="col-12 col-lg-4 col-xl-3 d-flex d-lg-block justify-content-center pb-4 pb-lg-0"><a class="pol" href="#">Политика обработки персональных данных</a></div>
            <div class="col-lg-3 offset-lg-2 offset-xl-3 d-flex justify-content-center justify-content-lg-end"><a class="dev" href="#">Разработка сайта</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>

source/html/leadership-item.pug
extends base.pug
block content
	section(class="container pb-5")
		div(class="row pb-lg-5 mb-lg-5")
			div(class="col-12")
				include components/breadcrumbs.pug
			div(class="col-12")
				h1(class="title-1-page font-36-m-24 mb-lg-5 pb-3")
					| Руководство
			div(class="col-12 col-md-6 col-lg-4 pb-4 pb-lg-5")
				img(class="lazyload w-100" data-src="images/team-big.png" alt="img")
			div(class="col-12 col-md-6 col-lg-8 pb-lg-5")
				h2(class="font-24 color-000")
					b
						| Иванов И.И.
				p(class="font-18 color-000 font-gilroy")
					| Председатель Совета депутатов
				p(class="font-18 color-000 font-gilroy")
					| Не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
				p(class="font-18 color-000 font-gilroy")
					| Не следует, однако забывать, что рамки и место обучения кадров требуют от нас анализа модели развития. Идейные соображения высшего порядка, а также постоянный количественный рост и сфера нашей активности обеспечивает широкому кругу (специалистов) участие в формировании новых предложений. Задача организации, в особенности же новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной деятельности обеспечивает широкому кругу (специалистов) участие в формировании существенных финансовых и административных условий. Товарищи! начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации дальнейших направлений развития.
			div(class="col-12")
				h1(class="title-2-page title-2-page_no-border  mb-lg-4")
					| Депутаты
			-for(let i = 0; i < 6; i++)
				div(class="col-12 col-lg-6 pb-4")
					div(class="team-item-big")
						div(class="row")
							div(class="col-12 col-md-4 pb-4 pb-lg-0")
								img(class="lazyload w-100" data-src=`images/team1.png` alt="img team")
							div(class="col-12 col-md-8")
								span(class="title")
									| Петров П.П.
								p(class="description")
									| Не следует, однако забывать, что сложившаяся структура организации представляет собой интересный эксперимент проверки существенных финансовых и административных условий. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании модели развития.
